example_videos
.env
primary_prototype/extracted_clips
primary_prototype/tts
primary_prototype/*.mp4
primary_prototype/*.mp4
primary_prototype/temp
primary_prototype/assembled_audio
primary_prototype/__pycache__
